html, body, #main-content, #switchboard-row {
    height: 100%;
}

.open-dropdown {
  position: absolute;
  display: block;
}

.open-dropdown .dropdown-menu {
    display: block;
    position: static;
    margin-bottom: 5px;
}