<div id="main-content" class="container-fluid">
    <div class="row">
        <h1>Just Playing...</h1>
    </div>
    <div class="row">
        <pallette (newNode)="addEmittedNodeToGraph($event)"></pallette>
    </div>
    <div id="switchboard-row" class="row">
        <switchboard [nodes]="nodes" class="col-xs-12"
                    (dragover)="handleDragOver($event)"                    
                    (drop)="handleDrop($event)"></switchboard>
    </div>
</div>

<div class="dropdown clearfix" id="contextDropDown">
    <ul class="dropdown-menu">
        <li><a id="useAsSourceAction">Use as source</a></li>
        <li><a id="useAsDestinationAction">Use as destination</a></li>
    </ul>
</div>