<div class="pallette">
    <button class="btn btn-primary" (click)="createFileInput()">Create File Input</button>
    <button class="btn btn-primary" (click)="createMiceInput()">Create Mice Input</button>
    <button class="btn btn-primary" (click)="createConvolver()">Create Convolver</button>
    <button class="btn btn-primary" (click)="createFilter()">Create Filter</button>
    <button class="btn btn-primary" (click)="createGain()">Create Gain</button>
    <button class="btn btn-primary" (click)="createAnalyzer()">Create Analyzer</button>
    <button class="btn btn-primary" (click)="createOutput()">Create Output</button>
</div>
<hr/>