<div *ngIf="nodes">
    <div *ngFor="#node of nodes">
        <audio-node [node]="node"
            [ngStyle]="{'left': node.posX +'px', 'top': node.posY + 'px'}"
            class="audio-node"
            draggable="true"
            (dragstart)="handleDragStart($event, node)"
            (dragend)="handleDragEnd($event, node)"
            (connectionEstablishmentEvent)="handleConnectionEstablishmentRequest(node)"></audio-node>
    </div>
    <div *ngFor="#edge of edges">
        <edge-component [edge]="edge"></edge-component>
    </div>
</div>